<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все кандидаты!</title>
</head>
<body>
  <h1>Все кандидаты:</h1>
  <p><a href ="/candidate/AdelaHendricks.html/">Имя кандидата: Adela Hendricks;</a></p>
  <p><a href ="/candidate/SheriTorres.html/">Имя кандидата: Sheri Torres;</a></p>
  <p><a href ="/candidate/BurtStein.html/">Имя кандидата: Burt Stein;</a></p>
  <p><a href ="/candidate/BauerAdkins.html/">Имя кандидата: Bauer Adkins;</a></p>
  <p><a href ="/candidate/DayHolloway.html/">Имя кандидата: Day Holloway;</a></p>
  <p><a href ="/candidate/AustinCochran.html/">Имя кандидата: Austin Cochran;</a></p>
  <p><a href ="/candidate/ShereeLove.html/">Имя кандидата: Sheree Love;</a></p>
</body>
</html>